*{
    margin: 0px;
    padding: 0px;
font-family: 'Manrope';  
}
:root{
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope';
}
body{
    background-color:#dcd9d9;
    
}
header{
    margin-bottom: -5rem;
}
.img-accueil{
    width: 100%;
    height: 410px;
}
.title-recherche{
    position: relative;
    color: #FFD15B;
    bottom: 230px;
    text-align: center;
    width: 80%;
    margin-left: 8rem;
}
h1{
    width: 90%;
    font-size: 35px;
    font-family: Anton;
    margin-left: 3rem;
}
.title-recherche input{
    width: 100%;
    height: 50px;
    border-radius: 11px;
    padding: 10px;
}
.title-recherche i{
    position: absolute;
    right: 7px;
    bottom: 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 30px;
    height: 22px; 
    padding-top: 7px;
}
.error{
    color: red;
}
.img-recette{ 
    width: 100%;
    height: 253px;
    border-radius: 20px 20px 0 0;
}
.time{
    position: absolute;
    top: 13px;
    left: 15rem;
    z-index: auto;
    background-color: #FFD15B;
    color: black;
    padding: 0 10px;
    border-radius: 14px;
}
.number-recettes{
    position: absolute;
    left: 60rem;
    font-size: 21px;
    font-family: anton;
    font-weight: 600;
}
.article-recette{
    position: relative;
    width: 30%;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.Recette{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.info-recette{
    height: 500px;
    padding: 15px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.description-recette{
    height: 248px;
}
.ingredients{
    height: 120px;
    display: flex;
    flex-wrap: wrap;
}
.ingredient{
    width: 50%;
}
.quantity{
    font-weight: 400;
    font-size: 14px;     
    color: #7A7A7A;
    display: flex;
    gap: 2px;
}
h2{font-family: Anton;
    font-weight: 700;
    font-size: 20px;
}
h3{font-size: 14px;

    font-weight: 700;
    color: #7A7A7A;
}
h4{font-weight: 500;
    font-size: 14px;
    color: black;
}